/Keras/logs/
/Keras/my_model.h5
/Keras/weights/
/Keras/my_first_model.png
/Keras/my_first_model_with_shape_info.png
/Keras/multi_input_and_output_model.png
/Keras/path_to_my_model.h5
/Keras/mini_resnet.png
