/Keras/logs/
/Keras/my_model.h5
/Keras/weights/
/Keras/my_first_model.png
/Keras/my_first_model_with_shape_info.png
/Keras/multi_input_and_output_model.png
/Keras/path_to_my_model.h5
/Keras/mini_resnet.png
/Keras/mymodel_1.h5
/Keras/mymodel_2.h5
/Keras/mymodel_3.h5
/Keras/.ipynb_checkpoints/
/Keras/path_to_saved_model/
/Keras/checkpoint
/Keras/model_config.json
/Keras/path_to_my_tf_checkpoint.data-00000-of-00002
/Keras/path_to_my_tf_checkpoint.data-00001-of-00002
/Keras/path_to_my_tf_checkpoint.index
/Keras/path_to_my_weights.data-00000-of-00002
/Keras/path_to_my_weights.data-00001-of-00002
/Keras/path_to_my_weights.h5
/Keras/path_to_my_weights.index
/Customization/checkpoint
/Customization/weights.data-00000-of-00001
/Customization/weights.index
/Customization/.ipynb_checkpoints/
/Customization/ckpt/
/Customization/path/
/Customization/tb/
/Data_input_pipelines/.ipynb_checkpoints/
/Data_input_pipelines/missing.csv
/Customization/weights.data-00001-of-00002
/Customization/weights.data-00000-of-00002
/.ipynb_checkpoints/
/Save_a_model/.ipynb_checkpoints/
/Save_a_model/tf_ckpts/
/Save_a_model/tf_estimator_example/
/Save_a_model/checkpoint
/Save_a_model/easy_checkpoint.data-00000-of-00001
/Save_a_model/easy_checkpoint.index
/Save_a_model/tf_list_example-1.data-00000-of-00002
/Save_a_model/tf_list_example-1.data-00001-of-00002
/Save_a_model/tf_list_example-1.index
/Save_a_model/dropout/
/Save_a_model/mod/
/Save_a_model/module/
/Save_a_model/pow/
/Save_a_model/saved/
/Accelerators/.ipynb_checkpoints/
